<template>
    <svg class="chart" v-bind:id="id" width="400" height="200"></svg>
</template>

<script>
export default {
    name: 'PieChart',
  data () {
    return {
      options: {
        dim: 'name',
        height: 175,
        width: 250
      }
    }  },
  props: ['data', 'id'],
  mounted: function() {
    this.renderCharts();
  },
  watch: {
    data: function(newdata) {
      this.data = newdata;
      this.renderCharts();
    }
  },
  beforeUpdate: function(){
    this.renderCharts();
  },
  methods: {
    renderCharts: function (){
      this.options.selector = '#'+this.id;
      this.options.metric = 'val';
      this.options.title = "Example Pie Chart";
      this.$helpers.chart.pieChart(this.$d3, this.data, this.options);
    }
  }
}
</script>

<style scoped>
.segment {
  width: 100%;
  float: left;
  align-content:center;
}
.chart {
  padding: 20px;
  background: #EEFFFF;
}

</style>